body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4 {
    color: #444;
    text-align: center;
    margin-bottom: 20px;
}

.detail {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.child {
    flex: 1;
    max-width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.child h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #17BDFF;
}

.child p {
    font-size: 16px;
    color: #555;
}

a {
    text-decoration: none;
    color: #17BDFF;
}

a:hover {
    text-decoration: underline;
}

button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #17BDFF;
    color: #fff;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #138535;
}

#topmenu {
    background-color: #17BDFF;
    padding: 10px 0;
}

#topmenu ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

#topmenu ul li {
    margin: 0 15px;
}

#topmenu ul li a {
    font-size: 18px;
    color: #fff;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

#topmenu ul li a:hover {
    background-color: #138535;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.popup_layer {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.text_area {
    margin-bottom: 20px;
}

.btn_area {
    display: flex;
    justify-content: space-between;
}

.btn {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #138535;
}

.btn-no {
    background-color: lightblue;
}

.btn-no:hover {
    background-color: #005f99;
}

.language-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.language {
    margin: 20px 0;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.language h2 {
    color: #333;
}

.language p {
    color: #000;
    font-weight: bold;
}

.language:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#c {
    background-color: #1abc9c;
}

#cpp {
    background-color: #3498db;
}

#java {
    background-color: #e67e22;
}

#python {
    background-color: #f1c40f;
}

#csharp {
    background-color: #9b59b6;
}
