body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.detail {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.child {
    width: 300px;
    height: 230px;
    margin: 10px;
    background-color: rgb(66, 230, 241);
    text-align: center;
}

.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.popup_layer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 150px;
    padding-bottom: 50px;
    margin: -100px 0 0 -150px;
    background: #fff;
    z-index: 10;
}

.text_area {
    padding: 50px 30px 30px;
    text-align: center;
}

.btn_area {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    overflow: hidden;
}

.btn {
    float: left;
    width: 50%;
    height: 100%;
    font-size: 15px;
    font-weight: bold;
    border: 0;
    background: pink;
    cursor: pointer;
    z-index: 10;
}

.btn-no {
    float: right;
    width: 50%;
    height: 100%;
    font-size: 15px;
    font-weight: bold;
    border: 0;
    background: lightblue;
    cursor: pointer;
    z-index: 10;
}

.popup_dimmed {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.3;
}

#topmenu {
    padding: 10px;
    width: 1400px;
    height: 50px;
    color: #98E0AD;
    margin: 0 auto;
}

#topmenu ul {
    margin: 0 auto;
    overflow: hidden;
}

#topmenu a {
    text-decoration: none;
    color: #404040;
}

#topmenu ul li {
    list-style: none;
    color: black;
    background-color: #98E0AD;
    float: left;
    width: 330px;
    height: 100%;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
}

#topmenu ul li a {
    display: block;
}

#topmenu ul li a:hover {
    background: #138535;
    color: #fff;
}

.language-container {
    width: 80%; /* 너비를 80%로 설정 */
    margin: 0 auto; /* 자동 여백으로 가운데 정렬 */
    padding: 20px; /* 내부 패딩 추가 */
    background-color: #fff; /* 배경색 설정 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
    border-radius: 8px; /* 모서리 둥글게 설정 */
}

.language {
    margin: 20px 0;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.language h2 {
    color: #333;
}

.language p {
    color: #555;
}

#c {
    background-color: #1abc9c; /* 청록색 */
}

#cpp {
    background-color: #3498db; /* 파란색 */
}

#java {
    background-color: #e67e22; /* 주황색 */
}

#python {
    background-color: #f1c40f; /* 노란색 */
}

#csharp {
    background-color: #9b59b6; /* 보라색 */
}

.language:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.language p {
    color: #000; /* 진한 검은색 */
    font-weight: bold; /* 글자 두께 설정 */
}
