body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.detail {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.child {
    width: 300px;
    height: 230px;
    margin: 10px;
    background-color: rgb(66, 230, 241);
    text-align: center;
}

.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.popup_layer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 150px;
    padding-bottom: 50px;
    margin: -100px 0 0 -150px;
    background: #fff;
    z-index: 10;
}

.text_area {
    padding: 50px 30px 30px;
    text-align: center;
}

.btn_area {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    overflow: hidden;
}

.btn {
    float: left;
    width: 50%;
    height: 100%;
    font-size: 15px;
    font-weight: bold;
    border: 0;
    background: pink;
    cursor: pointer;
    z-index: 10;
}

.btn-no {
    float: right;
    width: 50%;
    height: 100%;
    font-size: 15px;
    font-weight: bold;
    border: 0;
    background: lightblue;
    cursor: pointer;
    z-index: 10;
}

.popup_dimmed {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.3;
}

#topmenu {
    padding: 10px;
    width: 1400px;
    height: 50px;
    color: #98E0AD;
    margin: 0 auto;
}

#topmenu ul {
    margin: 0 auto;
    overflow: hidden;
}

#topmenu a {
    text-decoration: none;
    color: #404040;
}

#topmenu ul li {
    list-style: none;
    color: black;
    background-color: #98E0AD;
    float: left;
    width: 330px;
    height: 100%;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
}

#topmenu ul li a {
    display: block;
}

#topmenu ul li a:hover {
    background: #138535;
    color: #fff;
}

.pbody {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.pcontainer {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.ph1 {
    text-align: center;
    color: #17BDFF;
}

.language {
    margin: 20px 0;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.language h2 {
    color: #333;
}

.language p {
    color: #555;
}
